* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.header {
   background-color: #e5e7eb;
   font-size: 1rem;
   padding: 5px 0;
}

.header .container .bi {
   color: rgb(59, 182, 59);
   font-size: 1rem;
   padding-right: 5px;
}
.header .container .number {
   margin-right: 8px;
   font-size: 1rem;
   color: #000;
   font-weight: normal;
}
.header .container .mail {
   font-size: 1rem;
   color: #000;
   font-weight: normal;
}
.header .container .register a {
   text-decoration: none;
   color: #000;
   font-size: 1rem;
   font-weight: normal;
   padding-left: 8px;
}
.navbar {
   background-color: #0551ac !important;
}
.navbar .container .navbar-brand img {
   width: 100px;
}
.navbar .container .navbar-nav .nav-link {
   color: #fff;
   font-size: 1rem;
   font-weight: normal;
}
.navbar .container .navbar-nav .nav-link:hover {
   text-decoration: underline;
}
.navbar .container .navbar-toggler {
   box-shadow: none;
   outline: none;
   border: none;
}
.navbar .container .navbar-toggler .bi {
   color: #fff;
   font-size: 32px;
}
